<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>created_at</key>
	<date>2011-07-02T00:25:39Z</date>
	<key>stations</key>
	<array>
  	<dict>
			<key>longitude</key>
			<string>-0.863471000000000000</string>
			<key>latitude</key>
			<string>41.649912000000000000</string>
			<key>idStation</key>
			<string>101</string>
			<key>addressnew</key>
			<string>RG9jdG9yIElyYW56byBjb24gRXNjdWx0b3IgQmVubGx1cmU=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.877780000000000000</string>
			<key>latitude</key>
			<string>41.651242000000000000</string>
			<key>idStation</key>
			<string>102</string>
			<key>addressnew</key>
			<string>UGVkcm8gSm9hcXXtbiBTb2xlciBjb24gQ29zbw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.881661000000000000</string>
			<key>latitude</key>
			<string>41.644714000000000000</string>
			<key>idStation</key>
			<string>103</string>
			<key>addressnew</key>
			<string>Qy9MYWNhcnJhIGRlIE1pZ3VlbCBjb24gQy9TYW4gVmljZW50ZSBNYXJ0aXI=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.889492000000000000</string>
			<key>latitude</key>
			<string>41.653496000000000000</string>
			<key>idStation</key>
			<string>104</string>
			<key>addressnew</key>
			<string>Qy8gTWFkcmUgUmFmb2xz</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.898417000000000000</string>
			<key>latitude</key>
			<string>41.637785000000000000</string>
			<key>idStation</key>
			<string>108</string>
			<key>addressnew</key>
			<string>UGxhemEgRW1wZXJhZG9yIENhcmxvcyBW</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.914198000000000000</string>
			<key>latitude</key>
			<string>41.640707000000000000</string>
			<key>idStation</key>
			<string>113</string>
			<key>addressnew</key>
			<string>VklBIEhJU1BBTklEQUQgQ09OIEdPTUVaIExBR1VOQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.917600000000000000</string>
			<key>latitude</key>
			<string>41.646900000000000000</string>
			<key>idStation</key>
			<string>115</string>
			<key>addressnew</key>
			<string>VmlhIGhpc3BhbmlkYWQgY29uIEMvT2NlYW5vIEF0bOFudGljbw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.910457000000000000</string>
			<key>latitude</key>
			<string>41.641465000000000000</string>
			<key>idStation</key>
			<string>118</string>
			<key>addressnew</key>
			<string>SlVBTiBQQUJMTyBJSSBDT04gR09NRVogTEFHVU5B</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.907843000000000000</string>
			<key>latitude</key>
			<string>41.638651000000000000</string>
			<key>idStation</key>
			<string>119</string>
			<key>addressnew</key>
			<string>SlVBTiBDQVJMT1MgSSBDT04gQyAvIFJBTU9OIFNBSU5aIERFIFZBUkFOREEg</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.906755000000000000</string>
			<key>latitude</key>
			<string>41.634817000000000000</string>
			<key>idStation</key>
			<string>120</string>
			<key>addressnew</key>
			<string>QVNJTiBZIFBBTEFDSU9TIC0gUEVEUk8gSVYgRUwgQ0VSRU1PTklPU08=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.901864000000000000</string>
			<key>latitude</key>
			<string>41.639109000000000000</string>
			<key>idStation</key>
			<string>121</string>
			<key>addressnew</key>
			<string>RURVQVJETyBJQkFSUkEgLSBDLyBWSU9MQU5URSBERSBIVU5HUklB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.908900000000000000</string>
			<key>latitude</key>
			<string>41.649300000000000000</string>
			<key>idStation</key>
			<string>125</string>
			<key>addressnew</key>
			<string>Vu1hIFVuaXbpcnNpdGFzIGNvbiBDL0hlcm1hbm9zIEdhbWJyYQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.908600000000000000</string>
			<key>latitude</key>
			<string>41.655500000000000000</string>
			<key>idStation</key>
			<string>127</string>
			<key>addressnew</key>
			<string>QXYuIE5hdmFycmEgY29uIEMvIFJpb2ph</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.902306000000000000</string>
			<key>latitude</key>
			<string>41.652585000000000000</string>
			<key>idStation</key>
			<string>129</string>
			<key>addressnew</key>
			<string>Qy8gR3JhdXMgY29uIEMvIFVuY2V0YQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.897865000000000000</string>
			<key>latitude</key>
			<string>41.644029000000000000</string>
			<key>idStation</key>
			<string>130</string>
			<key>addressnew</key>
			<string>Q09ST05BIERFIEFSQUdPTiAtIEMvIExPUkVOVEU=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.904667000000000000</string>
			<key>latitude</key>
			<string>41.670464000000000000</string>
			<key>idStation</key>
			<string>1</string>
			<key>addressnew</key>
			<string>RVhQTy4gVE9SUkUgREVMIEFHVUE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.897986000000000000</string>
			<key>latitude</key>
			<string>41.672356000000000000</string>
			<key>idStation</key>
			<string>2</string>
			<key>addressnew</key>
			<string>RVhQTy4gUEFCTE8gUlVJWiBQSUNBU1NPIChQdGEuIE5vcnRlKQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.893514000000000000</string>
			<key>latitude</key>
			<string>41.667017000000000000</string>
			<key>idStation</key>
			<string>3</string>
			<key>addressnew</key>
			<string>Q0xBUkEgQ0FNUE9BTU9SLCBFU1EuIEFWREEuIERFIFJBTklMTEFT</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.888647000000000000</string>
			<key>latitude</key>
			<string>41.662183000000000000</string>
			<key>idStation</key>
			<string>4</string>
			<key>addressnew</key>
			<string>QVZEQS4gUkFOSUxMQVMuIFBVRU5URSBERSBMQSBBTE1PWkFSQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.881100000000000000</string>
			<key>latitude</key>
			<string>41.660311000000000000</string>
			<key>idStation</key>
			<string>5</string>
			<key>addressnew</key>
			<string>ULogREUgTEEgUklCRVJBLiBQVUVOVEUgU0FOVElBR08=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.869969000000000000</string>
			<key>latitude</key>
			<string>41.656556000000000000</string>
			<key>idStation</key>
			<string>6</string>
			<key>addressnew</key>
			<string>ULogREUgTEEgUklCRVJBLiBQVUVOVEUgREVMIFBJTEFS</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.866356000000000000</string>
			<key>latitude</key>
			<string>41.652764000000000000</string>
			<key>idStation</key>
			<string>7</string>
			<key>addressnew</key>
			<string>ULogRUNIRUdBUkFZLiBQQVNBUkVMQSBERUwgSFVFUlZB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.870714000000000000</string>
			<key>latitude</key>
			<string>41.654153000000000000</string>
			<key>idStation</key>
			<string>8</string>
			<key>addressnew</key>
			<string>ULogRUNIRUdBUkFZLiBQVUVOVEUgREVMIFBJTEFS</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.875708000000000000</string>
			<key>latitude</key>
			<string>41.656000000000000000</string>
			<key>idStation</key>
			<string>9</string>
			<key>addressnew</key>
			<string>ULogRUNIRUdBUkFZLiBQVUVOVEUgREUgUElFRFJB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.881386000000000000</string>
			<key>latitude</key>
			<string>41.657900000000000000</string>
			<key>idStation</key>
			<string>10</string>
			<key>addressnew</key>
			<string>ULogRUNIRUdBUkFZLiBQVUVOVEUgU0FOVElBR08=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.891683000000000000</string>
			<key>latitude</key>
			<string>41.659314000000000000</string>
			<key>idStation</key>
			<string>11</string>
			<key>addressnew</key>
			<string>ULogRUNIRUdBUkFZLiBQVUVOVEUgREUgTEEgQUxNT1pBUkE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.896167000000000000</string>
			<key>latitude</key>
			<string>41.663519000000000000</string>
			<key>idStation</key>
			<string>12</string>
			<key>addressnew</key>
			<string>UEFTQVJFTEEgREVMIFZPTFVOVEFSSUFETy4gQUxNT1pBUkE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.907089000000000000</string>
			<key>latitude</key>
			<string>41.661713000000000000</string>
			<key>idStation</key>
			<string>13</string>
			<key>addressnew</key>
			<string>RVhQTy4gUEFCRUxM004gUFVFTlRFIChQdWVydGEgU3VyKQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.908719000000000000</string>
			<key>latitude</key>
			<string>41.658256000000000000</string>
			<key>idStation</key>
			<string>14</string>
			<key>addressnew</key>
			<string>RVNUQUNJ004gSU5URVJNT0RBTCBERSBERUxJQ0lBUyAoU2FsaWRhcyk=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.895703000000000000</string>
			<key>latitude</key>
			<string>41.651307000000000000</string>
			<key>idStation</key>
			<string>15</string>
			<key>addressnew</key>
			<string>RUwgUE9SVElMTE8gRVNUQUNJ004gQ0VSQ0FOzUFTLg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.880647000000000000</string>
			<key>latitude</key>
			<string>41.651889000000000000</string>
			<key>idStation</key>
			<string>16</string>
			<key>addressnew</key>
			<string>UExBWkEgREUgRVNQQdFB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.884250000000000000</string>
			<key>latitude</key>
			<string>41.647736000000000000</string>
			<key>idStation</key>
			<string>17</string>
			<key>addressnew</key>
			<string>ULogQ09OU1RJVFVDSdNOLiBQTEFaQSBBUkFH004=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.869839000000000000</string>
			<key>latitude</key>
			<string>41.650822000000000000</string>
			<key>idStation</key>
			<string>18</string>
			<key>addressnew</key>
			<string>QVNBTFRPIC0gRURJRklDSU8gVFJPVkFET1I=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.875617000000000000</string>
			<key>latitude</key>
			<string>41.648947000000000000</string>
			<key>idStation</key>
			<string>19</string>
			<key>addressnew</key>
			<string>QVNBTFRPIC0gUExBWkEgU0FOIE1JR1VFTA==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.882767000000000000</string>
			<key>latitude</key>
			<string>41.653089000000000000</string>
			<key>idStation</key>
			<string>20</string>
			<key>addressnew</key>
			<string>UExBWkEgU0FMQU1FUk8=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.884125000000000000</string>
			<key>latitude</key>
			<string>41.655194000000000000</string>
			<key>idStation</key>
			<string>21</string>
			<key>addressnew</key>
			<string>QVYuIENFU0FSIEFVR1VTVE8gLSBTQU4gUEFCTE8=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.914292000000000000</string>
			<key>latitude</key>
			<string>41.659367000000000000</string>
			<key>idStation</key>
			<string>22</string>
			<key>addressnew</key>
			<string>RVNUQUNJ004gREUgREVMSUNJQVMsIEVOVFJBREEgUE9TVEVSSU9S</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.858058000000000000</string>
			<key>latitude</key>
			<string>41.652817000000000000</string>
			<key>idStation</key>
			<string>23</string>
			<key>addressnew</key>
			<string>RU1CQVJDQURFUk8gVkFET1JSRVkg</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.877100000000000000</string>
			<key>latitude</key>
			<string>41.652586000000000000</string>
			<key>idStation</key>
			<string>24</string>
			<key>addressnew</key>
			<string>UExBWkEgU0FOIFBFRFJPIE5PTEFTQ08=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.879964000000000000</string>
			<key>latitude</key>
			<string>41.648389000000000000</string>
			<key>idStation</key>
			<string>25</string>
			<key>addressnew</key>
			<string>UExBWkEgTE9TIFNJVElPUw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.887122000000000000</string>
			<key>latitude</key>
			<string>41.649364000000000000</string>
			<key>idStation</key>
			<string>26</string>
			<key>addressnew</key>
			<string>UFRBIERFTCBDQVJNRU4gLSBQU08uIFBBTVBMT05B</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.891453000000000000</string>
			<key>latitude</key>
			<string>41.651894000000000000</string>
			<key>idStation</key>
			<string>27</string>
			<key>addressnew</key>
			<string>UFMgTUFSSUEgQUdVU1TNTiAoQ09MLiBKT0FRVc1OIENPU1RBKQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.892086000000000000</string>
			<key>latitude</key>
			<string>41.655108000000000000</string>
			<key>idStation</key>
			<string>28</string>
			<key>addressnew</key>
			<string>UExaIERFTCBQT1JUSUxMTyAtIFBMWiBERSBUT1JPUw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.896614000000000000</string>
			<key>latitude</key>
			<string>41.655681000000000000</string>
			<key>idStation</key>
			<string>29</string>
			<key>addressnew</key>
			<string>QXYgTUFEUklEIC0gQUxKQUZFUklB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.901408000000000000</string>
			<key>latitude</key>
			<string>41.661219000000000000</string>
			<key>idStation</key>
			<string>30</string>
			<key>addressnew</key>
			<string>QVZEQS4gUEFCTE8gR0FSR0FMTE8gLSBBVkRBLiBQVUVSVEEgU0FOQ0hP</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.895772000000000000</string>
			<key>latitude</key>
			<string>41.659908000000000000</string>
			<key>idStation</key>
			<string>31</string>
			<key>addressnew</key>
			<string>QVZEQS4gUEFCTE8gR0FSR0FMTE8gLSBDLyBJLiBNRU5BWUE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.886503000000000000</string>
			<key>latitude</key>
			<string>41.651750000000000000</string>
			<key>idStation</key>
			<string>32</string>
			<key>addressnew</key>
			<string>Qy8gUkFN004gWSBDQUpBTA==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.878056000000000000</string>
			<key>latitude</key>
			<string>41.655553000000000000</string>
			<key>idStation</key>
			<string>33</string>
			<key>addressnew</key>
			<string>UExBWkEgREVMIFBJTEFS</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.873278000000000000</string>
			<key>latitude</key>
			<string>41.652117000000000000</string>
			<key>idStation</key>
			<string>34</string>
			<key>addressnew</key>
			<string>UExBWkEgTUFHREFMRU5B</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.860592000000000000</string>
			<key>latitude</key>
			<string>41.651308000000000000</string>
			<key>idStation</key>
			<string>35</string>
			<key>addressnew</key>
			<string>ULogRUNIRUdBUkFZIFkgQ0FCQUxMRVJPIC0gQy8gU0FMVkFET1IgTUlOR1VJStNO</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.866867000000000000</string>
			<key>latitude</key>
			<string>41.648447000000000000</string>
			<key>idStation</key>
			<string>36</string>
			<key>addressnew</key>
			<string>Q7ogREUgTEFTIFRPUlJFUyAtIEMvIFNJTFZFU1RSRSBQyVJFWg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.868625000000000000</string>
			<key>latitude</key>
			<string>41.645003000000000000</string>
			<key>idStation</key>
			<string>37</string>
			<key>addressnew</key>
			<string>Qy8gRkxPUkVOVElOTyBCQUxMRVNURVJPUyAtIEMuQy4gTUFUQURFUk8=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.872269000000000000</string>
			<key>latitude</key>
			<string>41.647044000000000000</string>
			<key>idStation</key>
			<string>38</string>
			<key>addressnew</key>
			<string>Q7ogREUgTEFTIFRPUlJFUyAtIEMvIFJPR0VSIERFIFRVUg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.877589000000000000</string>
			<key>latitude</key>
			<string>41.645286000000000000</string>
			<key>idStation</key>
			<string>39</string>
			<key>addressnew</key>
			<string>Q7ogREUgTEFTIFRPUlJFUyAtIEFWREEuQ0VTwVJFTyBBTElFUlRB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.875236000000000000</string>
			<key>latitude</key>
			<string>41.642342000000000000</string>
			<key>idStation</key>
			<string>40</string>
			<key>addressnew</key>
			<string>QVZEQS4gQ0VTwVJFTyBBTElFUlRBIC0gQy8gRi4gQlVSUklFTA==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.882350000000000000</string>
			<key>latitude</key>
			<string>41.642383000000000000</string>
			<key>idStation</key>
			<string>41</string>
			<key>addressnew</key>
			<string>UExBWkEgU0NIV0VJVFpFUg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.881072000000000000</string>
			<key>latitude</key>
			<string>41.639786000000000000</string>
			<key>idStation</key>
			<string>42</string>
			<key>addressnew</key>
			<string>VEVOT1IgRkxFVEEgQ09OIEMvIFVOQ0FTVElMTE8=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.887961000000000000</string>
			<key>latitude</key>
			<string>41.642956000000000000</string>
			<key>idStation</key>
			<string>43</string>
			<key>addressnew</key>
			<string>QVYuR09ZQSAtULogU0FHQVNUQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.886489000000000000</string>
			<key>latitude</key>
			<string>41.640019000000000000</string>
			<key>idStation</key>
			<string>44</string>
			<key>addressnew</key>
			<string>Q7ogREUgTEFTIFRPUlJFUyAtIFC6IFNBR0FTVEE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.887681000000000000</string>
			<key>latitude</key>
			<string>41.646481000000000000</string>
			<key>idStation</key>
			<string>45</string>
			<key>addressnew</key>
			<string>R1JBTiBWzUEtIEZBQ1VMVEFEIEVDT07TTUlDQVM=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.892669000000000000</string>
			<key>latitude</key>
			<string>41.644489000000000000</string>
			<key>idStation</key>
			<string>46</string>
			<key>addressnew</key>
			<string>QVZEQS4gR09ZQSAtIEMvQkFMVEFTQVIgR1JBQ0nBTg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.894883000000000000</string>
			<key>latitude</key>
			<string>41.641436000000000000</string>
			<key>idStation</key>
			<string>47</string>
			<key>addressnew</key>
			<string>UExBWkEgU0FOIEZSQU5DSVNDTw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.890431000000000000</string>
			<key>latitude</key>
			<string>41.647839000000000000</string>
			<key>idStation</key>
			<string>48</string>
			<key>addressnew</key>
			<string>UExBWkEgTS4gQVJSRUdVSQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.893725000000000000</string>
			<key>latitude</key>
			<string>41.648047000000000000</string>
			<key>idStation</key>
			<string>49</string>
			<key>addressnew</key>
			<string>QVZEQS4gR09ZQSAtIEFWREEuIEEuIENMQVbJ</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.900369000000000000</string>
			<key>latitude</key>
			<string>41.644614000000000000</string>
			<key>idStation</key>
			<string>50</string>
			<key>addressnew</key>
			<string>QVZEQS4gVkFMRU5DSUEgLSBBVkRBLiBTQU4gSlVBTiBCT1NDTw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.898647000000000000</string>
			<key>latitude</key>
			<string>41.649797000000000000</string>
			<key>idStation</key>
			<string>51</string>
			<key>addressnew</key>
			<string>UExBWkEgUk9NQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.902233000000000000</string>
			<key>latitude</key>
			<string>41.648061000000000000</string>
			<key>idStation</key>
			<string>52</string>
			<key>addressnew</key>
			<string>QVZEQS4gRFFTQS4gVklMTEFIRVJNT1NBIC0gQy8gRlJBTkNPIFkgTNNQRVo=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.900894000000000000</string>
			<key>latitude</key>
			<string>41.654756000000000000</string>
			<key>idStation</key>
			<string>53</string>
			<key>addressnew</key>
			<string>SU5URVJTRUNDSU9OIEFWREEuIE1BRFJJRCAtIEFWREEuIE5BVkFSUkE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.904572000000000000</string>
			<key>latitude</key>
			<string>41.653572000000000000</string>
			<key>idStation</key>
			<string>54</string>
			<key>addressnew</key>
			<string>QVZEQS4gTUFEUklEIC0gULogQ0FMQU5EQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.861786000000000000</string>
			<key>latitude</key>
			<string>41.658842000000000000</string>
			<key>idStation</key>
			<string>55</string>
			<key>addressnew</key>
			<string>Qy8gTUFSUVXJUyBERSBMQSBDQURFTkEgLSBDLyBWRUxJTExBIERFIEVCUk8=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.858964000000000000</string>
			<key>latitude</key>
			<string>41.655497000000000000</string>
			<key>idStation</key>
			<string>56</string>
			<key>addressnew</key>
			<string>Qy8gQkFMQklOTyBPUkVOU0FOWg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.874214000000000000</string>
			<key>latitude</key>
			<string>41.658822000000000000</string>
			<key>idStation</key>
			<string>57</string>
			<key>addressnew</key>
			<string>ULogREUgTEEgUklCRVJBIC0gQy8gU09CUkFSQkU=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.869653000000000000</string>
			<key>latitude</key>
			<string>41.660361000000000000</string>
			<key>idStation</key>
			<string>58</string>
			<key>addressnew</key>
			<string>QVZEQS5DQVRBTFXRQSAtIEFWREEuIFZBTExFIERFIFpVUklaQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.865542000000000000</string>
			<key>latitude</key>
			<string>41.661683000000000000</string>
			<key>idStation</key>
			<string>59</string>
			<key>addressnew</key>
			<string>UExBWkEgTU9aQVJU</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871203000000000000</string>
			<key>latitude</key>
			<string>41.662975000000000000</string>
			<key>idStation</key>
			<string>60</string>
			<key>addressnew</key>
			<string>Qy8gQ0FNSU5PUyBERUwgTk9SVEUgLSBDLyBGLiBPTElWQU4gQkFZTEU=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.875483000000000000</string>
			<key>latitude</key>
			<string>41.663811000000000000</string>
			<key>idStation</key>
			<string>61</string>
			<key>addressnew</key>
			<string>Qy8gU0lYVE8gQ0VMT1JSSU8gLSBDL1BF0UEgT1JPRUw=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871678000000000000</string>
			<key>latitude</key>
			<string>41.666725000000000000</string>
			<key>idStation</key>
			<string>62</string>
			<key>addressnew</key>
			<string>QVZEQS4gTUFSUVXJUyBERSBMQSBDQURFTkEgLSBBVkRBLiBTQU4gSlVBTiBERSBMQSA=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.876347000000000000</string>
			<key>latitude</key>
			<string>41.666336000000000000</string>
			<key>idStation</key>
			<string>63</string>
			<key>addressnew</key>
			<string>QVZEQS4gVkFMTEUgREUgQlJPVE8gLSBQQVJRVUUgVM1PIEpPUkdF</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.881214000000000000</string>
			<key>latitude</key>
			<string>41.666111000000000000</string>
			<key>idStation</key>
			<string>64</string>
			<key>addressnew</key>
			<string>QVZEQS4gVkFMTEUgREUgQlJPVE8gLSBBVkRBLiBQSVJJTkVPUw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.886822000000000000</string>
			<key>latitude</key>
			<string>41.666417000000000000</string>
			<key>idStation</key>
			<string>65</string>
			<key>addressnew</key>
			<string>QVZEQS4gRy4gR9NNRVogREUgQVZFTExBTkVEQSAtIElOVEVSQ0FNQklBRE9S</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.886053000000000000</string>
			<key>latitude</key>
			<string>41.670306000000000000</string>
			<key>idStation</key>
			<string>66</string>
			<key>addressnew</key>
			<string>Qy8gUEFCTE8gTkVSVURBIC0gQy8gR0FCUklFTCBDRUxBWUE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.890094000000000000</string>
			<key>latitude</key>
			<string>41.668672000000000000</string>
			<key>idStation</key>
			<string>67</string>
			<key>addressnew</key>
			<string>QVZEQS4gRy4gR9NNRVogREUgQVZFTExBTkVEQSAtIEMvIENMQVJBIENBTVBPQU1PUg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.889225000000000000</string>
			<key>latitude</key>
			<string>41.674806000000000000</string>
			<key>idStation</key>
			<string>68</string>
			<key>addressnew</key>
			<string>QVZEQS4gTUFSzUEgWkFNQlJBTk8tIEMvIEpVTElPIEeqIENPTkRPWQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.893325000000000000</string>
			<key>latitude</key>
			<string>41.672878000000000000</string>
			<key>idStation</key>
			<string>69</string>
			<key>addressnew</key>
			<string>QVZEQS4gUEFCTE8gUlVJWiBQSUNBU1NPIC0gQy8gR0FSQ81BIE3BUlFVRVo=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.889083000000000000</string>
			<key>latitude</key>
			<string>41.671319000000000000</string>
			<key>idStation</key>
			<string>70</string>
			<key>addressnew</key>
			<string>TaogWkFNQlJBTk8gQ09OIElMREVGT05TTyBNQU5VRUwgR0lM</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.893469000000000000</string>
			<key>latitude</key>
			<string>41.675969000000000000</string>
			<key>idStation</key>
			<string>71</string>
			<key>addressnew</key>
			<string>Qy8gTFVJUyBMRUdBWiBMQUNBTUJSQSBDT04gT0NUQVZJTyBQQVo=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.889072000000000000</string>
			<key>latitude</key>
			<string>41.677356000000000000</string>
			<key>idStation</key>
			<string>72</string>
			<key>addressnew</key>
			<string>TaogWkFNQlJBTk8gQ09OIFBBQkxPIElHTEVTSUFT</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.890781000000000000</string>
			<key>latitude</key>
			<string>41.678150000000000000</string>
			<key>idStation</key>
			<string>73</string>
			<key>addressnew</key>
			<string>R0VSVFJVRElTIEfTTUVaIERFIEFWRUxMQU5FREEgQ09OIE1BUkdBUklUQSBYSVJHVQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.884106000000000000</string>
			<key>latitude</key>
			<string>41.673364000000000000</string>
			<key>idStation</key>
			<string>74</string>
			<key>addressnew</key>
			<string>UEFCTE8gUElDQVNTTyBDT04gQy8gTFVJUyBDRVJOVURB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.876519000000000000</string>
			<key>latitude</key>
			<string>41.669394000000000000</string>
			<key>idStation</key>
			<string>75</string>
			<key>addressnew</key>
			<string>U0FMVkFET1IgQUxMRU5ERSBDT04gQy8gUlVCSU8gREUgRlJBTkNJQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871261000000000000</string>
			<key>latitude</key>
			<string>41.670161000000000000</string>
			<key>idStation</key>
			<string>76</string>
			<key>addressnew</key>
			<string>Qy8gU0FOIEpVQU4gREUgTEEgUEXRQSBDT04gQy8gSlVTTElCT0w=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.877342000000000000</string>
			<key>latitude</key>
			<string>41.673536000000000000</string>
			<key>idStation</key>
			<string>77</string>
			<key>addressnew</key>
			<string>U0FMVkFET1IgQUxMRU5ERSBDT04gUEFCTE8gUlVJWiBQSUNBU08=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>0.871383000000000000</string>
			<key>latitude</key>
			<string>41.673864000000000000</string>
			<key>idStation</key>
			<string>78</string>
			<key>addressnew</key>
			<string>U0FOIEpVQU4gREUgTEEgUEXRQSBDT04gQy8gU09NUE9SVA==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.876408000000000000</string>
			<key>latitude</key>
			<string>41.675761000000000000</string>
			<key>idStation</key>
			<string>79</string>
			<key>addressnew</key>
			<string>U0FMVkFET1IgQUxMRU5ERSBGUkVOVEUgQSBDLyBNQVRJQVMgUEFTVE9SIFNBTkNITw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871281000000000000</string>
			<key>latitude</key>
			<string>41.677928000000000000</string>
			<key>idStation</key>
			<string>80</string>
			<key>addressnew</key>
			<string>U0FOIEpVQU4gREUgTEEgUEXRQSBDT04gU0FMVkFET1IgQUxMRU5ERQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871169000000000000</string>
			<key>latitude</key>
			<string>41.681497000000000000</string>
			<key>idStation</key>
			<string>81</string>
			<key>addressnew</key>
			<string>Qy8gRUwgQ09MT1NPIENPTiBBQy4gR1JBTC4gTUlMSVRBUg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871092000000000000</string>
			<key>latitude</key>
			<string>41.684900000000000000</string>
			<key>idStation</key>
			<string>82</string>
			<key>addressnew</key>
			<string>QS5HLk1JTElUQVIgRlJFTlRFIEEgTUFa</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.874331000000000000</string>
			<key>latitude</key>
			<string>41.686583000000000000</string>
			<key>idStation</key>
			<string>83</string>
			<key>addressnew</key>
			<string>Qy9NQUpBUyBERSBHT1lBIEpVTlRPIEVST1NLSQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.877508000000000000</string>
			<key>latitude</key>
			<string>41.686647000000000000</string>
			<key>idStation</key>
			<string>84</string>
			<key>addressnew</key>
			<string>Qy9NQUpBUyBERSBHT1lBIENPTiBDL0xBIEZSQUdVQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.904033000000000000</string>
			<key>latitude</key>
			<string>41.662122000000000000</string>
			<key>idStation</key>
			<string>85</string>
			<key>addressnew</key>
			<string>UEFCTE8gR0FSR0FMTE8gQ09OIEpBUkRJTkVTIERFIEFURU5BUw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.899017000000000000</string>
			<key>latitude</key>
			<string>41.663300000000000000</string>
			<key>idStation</key>
			<string>86</string>
			<key>addressnew</key>
			<string>QVZEQS4gQUxNT1pBUkEgQ09OIENFTlRSTyBERVBPUlRJVk8gTVVOSUNJUEFM</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.893736000000000000</string>
			<key>latitude</key>
			<string>41.657114000000000000</string>
			<key>idStation</key>
			<string>87</string>
			<key>addressnew</key>
			<string>ULogTaogQUdVU1TNTiBDT04gQy8gQUxKQUZFUs1B</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.906025000000000000</string>
			<key>latitude</key>
			<string>41.655439000000000000</string>
			<key>idStation</key>
			<string>88</string>
			<key>addressnew</key>
			<string>QVZEQS4gTkFWQVJSQSBKVU5UTyBDRU5UUk8gQ81WSUNPIERFTElDSUFT</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.885794000000000000</string>
			<key>latitude</key>
			<string>41.658286000000000000</string>
			<key>idStation</key>
			<string>89</string>
			<key>addressnew</key>
			<string>RUNIRUdBUkFZIEZSRU5URSBOuiAzOA==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.895275000000000000</string>
			<key>latitude</key>
			<string>41.644333000000000000</string>
			<key>idStation</key>
			<string>90</string>
			<key>addressnew</key>
			<string>QlJFVE9OIENPTiBBTlRPTklPIE2qIENMQVJFVA==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.894419000000000000</string>
			<key>latitude</key>
			<string>41.640992000000000000</string>
			<key>idStation</key>
			<string>91</string>
			<key>addressnew</key>
			<string>UExBWkEgU0FOIEZSQU5DSVNDTyAtIExBIFNBTExF</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.890150000000000000</string>
			<key>latitude</key>
			<string>41.640733000000000000</string>
			<key>idStation</key>
			<string>92</string>
			<key>addressnew</key>
			<string>U0FOIEpVQU4gREUgTEEgQ1JVWiBDT04gTUFOVUVMIExBU0FMQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.871694000000000000</string>
			<key>latitude</key>
			<string>41.644247000000000000</string>
			<key>idStation</key>
			<string>93</string>
			<key>addressnew</key>
			<string>Qy9NT05BU1RFUklPIERFIFNBTU9TIENPTiBDLyBNQVRBREVSTw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.883639000000000000</string>
			<key>latitude</key>
			<string>41.664236000000000000</string>
			<key>idStation</key>
			<string>94</string>
			<key>addressnew</key>
			<string>QVYuIE2qIFpBTUJSQU5PIENPTiBQQURSRSBNQVJDRUxMwU4gTUFZQVlP</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.865339000000000000</string>
			<key>latitude</key>
			<string>41.658989000000000000</string>
			<key>idStation</key>
			<string>95</string>
			<key>addressnew</key>
			<string>UEFTRU8gTE9OR0FSRVMgQ09OIEMvIEZVRU5ERUpBTNNO</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.877261000000000000</string>
			<key>latitude</key>
			<string>41.648042000000000000</string>
			<key>idStation</key>
			<string>96</string>
			<key>addressnew</key>
			<string>UEFTRU8gREUgTEEgTUlOQSBDT04gQy8gUE9NQVLTTg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.880383000000000000</string>
			<key>latitude</key>
			<string>41.647597000000000000</string>
			<key>idStation</key>
			<string>97</string>
			<key>addressnew</key>
			<string>ULogQ09OU1RJVFVDSdNOIENPTiBDLyBNRUZJU1RP</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.885161000000000000</string>
			<key>latitude</key>
			<string>41.646022000000000000</string>
			<key>idStation</key>
			<string>98</string>
			<key>addressnew</key>
			<string>R0xPUklFVEEgU0FTRVJBLUVMIENPUlRFIElOR0zJUw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.883106000000000000</string>
			<key>latitude</key>
			<string>41.649189000000000000</string>
			<key>idStation</key>
			<string>99</string>
			<key>addressnew</key>
			<string>UExBWkEgU0FOVEEgRU5HUkFDSUE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.884647000000000000</string>
			<key>latitude</key>
			<string>41.650953000000000000</string>
			<key>idStation</key>
			<string>100</string>
			<key>addressnew</key>
			<string>UExBWkEgREVMIENBUk1FTg==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.890963000000000000</string>
			<key>latitude</key>
			<string>41.649436000000000000</string>
			<key>idStation</key>
			<string>105</string>
			<key>addressnew</key>
			<string>RFIuIEhPUk5PIC0gQy8gTUFEUkUgU0FDUkFNRU5UTw==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.890508000000000000</string>
			<key>latitude</key>
			<string>41.637665000000000000</string>
			<key>idStation</key>
			<string>106</string>
			<key>addressnew</key>
			<string>Qy9BUlpPQklTUE8gTU9SQ0lMTE8gQ09OIEMvRkVSTkFORE8gREUgQU5URVFVRVJB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.895265000000000000</string>
			<key>latitude</key>
			<string>41.637911000000000000</string>
			<key>idStation</key>
			<string>107</string>
			<key>addressnew</key>
			<string>TFVJUyBWSVZFUyAtIEMvTUFOVUVMIExBU0FMQQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.901569000000000000</string>
			<key>latitude</key>
			<string>41.634696000000000000</string>
			<key>idStation</key>
			<string>109</string>
			<key>addressnew</key>
			<string>UC5JU0FCRUwgTEEgQ0FUT0xJQ0EtQy9HT05aQUxPIENBTEFNSVRB</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.904942000000000000</string>
			<key>latitude</key>
			<string>41.633064000000000000</string>
			<key>idStation</key>
			<string>110</string>
			<key>addressnew</key>
			<string>ULouIElTQUJFTCBMQSBDQVRPTElDQSAtIFZJQSBISVNQQU5JREFE</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.909121000000000000</string>
			<key>latitude</key>
			<string>41.634394000000000000</string>
			<key>idStation</key>
			<string>111</string>
			<key>addressnew</key>
			<string>Q09OREVTIERFIEFSQUdPTiAtIFZJQSBISVNQQU5JREFE</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.912422000000000000</string>
			<key>latitude</key>
			<string>41.636477000000000000</string>
			<key>idStation</key>
			<string>112</string>
			<key>addressnew</key>
			<string>VklBIEhJU1BBTklEQUQgQ09OIEFWREEuIFNBSU5aIERFIFZBUkFOREE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.915700000000000000</string>
			<key>latitude</key>
			<string>41.643900000000000000</string>
			<key>idStation</key>
			<string>114</string>
			<key>addressnew</key>
			<string>VmlhIGhpc3BhbmlkYWQgY29uIER1cXVlc2EgVmlsbGFoZXJtb3Nh</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.912900000000000000</string>
			<key>latitude</key>
			<string>41.648900000000000000</string>
			<key>idStation</key>
			<string>116</string>
			<key>addressnew</key>
			<string>Qy8gQ2l1ZGFkZWxhIGNvbiBDL0FuZHLpcyBWaWNlbnRl</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.912200000000000000</string>
			<key>latitude</key>
			<string>41.644800000000000000</string>
			<key>idStation</key>
			<string>117</string>
			<key>addressnew</key>
			<string>RHVxdWVzYSBWaWxsYWhlcm1vc2EgY29uIEp1YW4gQ2FybG9zIEk=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.907403000000000000</string>
			<key>latitude</key>
			<string>41.642759000000000000</string>
			<key>idStation</key>
			<string>122</string>
			<key>addressnew</key>
			<string>QVZEQS4gR09NRVogTEFHVU5BIE66IDY=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.904359000000000000</string>
			<key>latitude</key>
			<string>41.643725000000000000</string>
			<key>idStation</key>
			<string>123</string>
			<key>addressnew</key>
			<string>U0FOIEpVQU4gQk9TQ08gQ09OIEMgLyBMQSBNSUxBR1JPU0E=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.908000000000000000</string>
			<key>latitude</key>
			<string>41.646400000000000000</string>
			<key>idStation</key>
			<string>124</string>
			<key>addressnew</key>
			<string>VmlhIFVuaXZlcnNpdGFzIGNvbiBEdXF1ZXNhIFZpbGxhaGVybW9zYQ==</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.911900000000000000</string>
			<key>latitude</key>
			<string>41.652600000000000000</string>
			<key>idStation</key>
			<string>126</string>
			<key>addressnew</key>
			<string>Qy9KdWxp4W4gU+FueiBJYuHxZXogY29uIEMvUmlvamE=</string>
		</dict>
  	<dict>
			<key>longitude</key>
			<string>-0.903250000000000000</string>
			<key>latitude</key>
			<string>41.650561000000000000</string>
			<key>idStation</key>
			<string>128</string>
			<key>addressnew</key>
			<string>Qy8gQm9saXZpYSBjb24gULogQ2FsYW5kYQ==</string>
		</dict>
	</array>
</dict>
</plist>